
<a href="/#"><-home</a>
<div class="container text-center">
    <table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Минимальное значение</th>
				<th scope="col">Максимальное значение</th>
				<th scope="col">Коэфф. оплаты больничного</th>
			</tr>
		</thead>
		<tbody>
			<% @dic_sick_rate.each do |t| %>
			<tr>
				<td> <%= get_rownum_psh %> </td>
				<td> <%= t.min_value %> </td>
				<td> <%= t.max_value %> </td>
				<td> <%= t.rate %> </td>
			</tr>
			<% end %>
		</tbody>
	</table>

</div>