
<a href="/#">на главную</a>
<div class="container text-center">
	<h1>справочник параметров для расчёта выплат</h1>
    <table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Параметр</th>
				<th scope="col">Значение</th>
			</tr>
		</thead>
		<tbody>
			<% @dic_pay_params.each do |t| %>
			<tr>
				<td> <%= get_rownum_psh %> </td>
				<td> <%= t.param_name %> </td>
				<td> <%= t.value %> </td>
			</tr>
			<% end %>
			<% reset_row_num %>
		</tbody>
	</table>

</div>